$md: 992px; //breakpoint for smaller devices
$lg: 1200px; //desktop

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
}

@mixin justifyVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin standardWidth {
  width: 95%;
  margin: 0 auto;
}

@mixin desktop {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

$primaryColor: #00965e;
$secondaryColor: rgb(0, 148, 5);
$color-text: #666666;
$primaryFont: Arial;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  h2 {
    font-size: 4rem;

    @include respond(md) {
      font-size: 6rem;

    }
  }

  h3 {
    font-weight: 100;
    font-size: 3rem;
    @include respond(md) {
      font-size: 3.7em;
    }
  }

  p {
    font-size: 16px;
    line-height: 40px;
    @include respond(md) {
      font-size: 16px;

      line-height: 70px;
    }

    color: $color-text;
  }
}

.logo_container {
  @include standardWidth();
  height: 150px;
  display: flex;
  align-items: center;

  @include respond(md) {
    width: 100%;
    height: 100px;
    justify-content: center;
    margin: 40px 0 40px 0;
  }

  @include respond(md) {
    img {
      width: 60rem;
    }
  }
}

.image_container {
  background-image: url("../images/top-image.png");
  margin: 0 auto;
  background-size: cover;
  width: 100vw;
  height: 450px;
  object-fit: cover;
  background-repeat: no-repeat;

  @include respond(md) {
    width: 100vw;
    background-image: url("../images/top-image2.png");
    height: 700px;
    backgroud-size: cover;
    background-repeat: no-repeat;
  }
}

.top_content {
  text-align: center;
  @include standardWidth();
  padding-top: 40px;

  .invest_header {
    @include justifyVertical();
  }

  h2 {
    color: $primaryColor;
    font-weight: 500;
  }
  .line {
    display: block;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primaryColor;
  }

  p {
    text-align: left;
    padding-top: 20px;
  }
  @include respond(md) {
    // align-items: center;
    width: 85%;
  }
}

.view_button {
  display: flex;
  justify-content: center;
  button {
    background: rgb(200, 118, 17);
    color: white;
    height: 40px;
    width: 200px;
    padding: 5px;
    border: none;
    font-size: 2rem;
    margin: 40px 0 40px 0;
    cursor: pointer;
    transition-duration: 0.5s;

    @include respond(md) {
      width: 400px;
      height: 100px;
      font-size: 4.2rem;
    }
  }

  button:hover {
    background: whitesmoke;
    color: darkorange;
  }
}

.mid_content {
  padding-bottom: 50px;

  h3 {
    color: $primaryColor;
    padding-bottom: 8px;
    font-weight: 100;
  }

  a {
    color: $secondaryColor;
    text-decoration: none;
    line-height: 2em;
    font-size: 2rem;
  }

  a:hover {
    color: darkorange;
  }

  .mid_top_content {
    @include standardWidth();
    display: flex;
    justify-content: space-between;
    padding-top: 45px;

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .advantage_header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      @include respond(md) {
        text-align: center;
        font-weight: 500;
        width: 50%;
      }
    }
  }

  h2 {
    color: $primaryColor;
    font-weight: 200;
  }

  .left_mid_top_content {
    width: 45%;
    text-align: left;

    img {
      @include respond(md) {
        with: 40px;
      }
    }

    @include respond(md) {
      width: 85%;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 0.5px solid black;
    }

    a {
      display: flex;
      font-size: 2rem;
      @include respond(md) {
        font-size: 4rem;
      }
    }
  }

  .vertical_line {
    width: 1px;
    border-right: 1px solid $primaryColor;
  }

  .right_mid_top_content {
    width: 45%;
    text-align: left;

    @include respond(md) {
      width: 85%;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 0.5px solid black;
    }
  }

  .line {
    display: block;
    width: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primaryColor;
  }

  p {
    text-align: left;
  }

  .mid_bottom_content {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @include respond(md) {
      margin-top: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

    }
  }

  .left_mid_bottom_content {
    width: 45%;
    text-align: left;

    @include respond(md) {
      width: 85%;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 0.5px solid black;
    }
  }

  .right_mid_bottom_content {
    width: 45%;
    text-align: left;

    @include respond(md) {
      width: 85%;
    }
  }
}

.loan_content {
  @include standardWidth();


  .loan_banner {
    background: $primaryColor;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2em;
    text-align: center;

    h3 {
      font-weight: 200;
      
      @include respond(md) {
        font-size: 5.4404rem;
        // width: 70%;
      }
  

  }

  
  
  }

  .loan_text {
    background: whitesmoke;
    padding: 5rem;

  
  }

  @include respond(md) {
    width: 85%;
  }

  
}

.our_team {

  padding: 50px 0 200px 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;

  @include respond(md) {
    flex-direction: column;
    padding-bottom: 50px;
  }

  p {
    margin-bottom: 15px;

    @include respond(md) {
      font-size: 4.3904rem;
      line-height: 54px;
      
    }
  }

  .member_text {
    margin-top: 20px;
    @include respond(md) {
      width: 70%;
      margin-bottom: 35px;
    }

    img {
      width: 12rem;
      position: absolute;
      top: -30px;
      left: -25px;
      z-index: -1;
      opacity: 0.9;
      transform: rotate(180deg);
      
    }
  }

  .member_para {
    margin-bottom: 20px;
    position: relative;

    @include respond(md) {
      margin: 0 auto;
      height: 100%;
      width: 65%;
    }
  }

  .team_member {
    text-align: center;
    @include justifyVertical();

    .first {
      width: 80%;
    }

    .second {
      width: 70%;
      @include respond(md) {
        width: 80%;

      }

    }
    .third {
      width: 70%;
      @include respond(md) {
        width: 80%;

      }

    }
  }


  .member_name {
    margin-top: 50px;

    color: $primaryColor;
  }
  
}

.member_para.second {
  margin: 0 auto;
  padding-bottom: 16px;
}
.member_pic {
  @include respond(md) {
    width: 350px;
  }

}


.footer_line {
  width: 100%;
  border-bottom: 1px solid black;
}

footer {
  padding: 30px 0 30px 0;

  @include standardWidth();

  @include respond(md) {
    width: 85%;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    color: black;
  }
  .priv {
    text-decoration: none;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding-top: 12px;
    padding-bottom: 30px;
    font-size: 3em;
    cursor: pointer;

    @include respond(md) {
      width: 30%;
    }

    img {
      width: 50px;
    }
  }
}
