*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: Arial;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html h2 {
  font-size: 4rem;
}

@media (max-width: 992px) {
  html h2 {
    font-size: 6rem;
  }
}

html h3 {
  font-weight: 100;
  font-size: 3rem;
}

@media (max-width: 992px) {
  html h3 {
    font-size: 4em;
  }
}

html p {
  font-size: 16px;
  line-height: 30px;
  color: #666666;
}

@media (max-width: 992px) {
  html p {
    font-size: 16px;
    line-height: 54px;
  }
}

.logo_container {
  width: 95%;
  margin: 0 auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .logo_container {
    width: 100%;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 40px 0;
  }
}

@media (max-width: 992px) {
  .logo_container img {
    width: 40rem;
  }
}

.image_container {
  background-image: url("../images/top-image.png");
  margin: 0 auto;
  background-size: cover;
  width: 100vw;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .image_container {
    width: 100vw;
    background-image: url("../images/top-image2.png");
    height: 700px;
    backgroud-size: cover;
    background-repeat: no-repeat;
  }
}

.top_content {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding-top: 40px;
}

.top_content .invest_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_content h2 {
  color: #00965e;
  font-weight: 250;
}

.top_content .line {
  display: block;
  width: 80px;
  padding-bottom: 10px;
  border-bottom: 2px solid #00965e;
}

.top_content p {
  text-align: left;
  padding-top: 20px;
}

@media (max-width: 992px) {
  .top_content {
    width: 85%;
  }
}

.view_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view_button button {
  background: darkorange;
  color: white;
  height: 40px;
  width: 200px;
  padding: 5px;
  border: none;
  font-size: 2rem;
  margin: 40px 0 40px 0;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 992px) {
  .view_button button {
    width: 400px;
    height: 70px;
    font-size: 4.2rem;
  }
}

.view_button button:hover {
  background: whitesmoke;
  color: darkorange;
}

.mid_content {
  padding-bottom: 50px;
}

.mid_content h3 {
  color: #00965e;
  padding-bottom: 8px;
  font-weight: 100;
}

.mid_content a {
  color: #009405;
  text-decoration: none;
  line-height: 2em;
  font-size: 2rem;
}

.mid_content a:hover {
  color: darkorange;
}

.mid_content .mid_top_content {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

@media (max-width: 992px) {
  .mid_content .mid_top_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
}

.mid_content .advantage_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .mid_content .advantage_header h2 {
    text-align: center;
    font-weight: 300;
    width: 50%;
  }
}

.mid_content h2 {
  color: #00965e;
  font-weight: 200;
}

.mid_content .left_mid_top_content {
  width: 45%;
  text-align: left;
}

@media (max-width: 992px) {
  .mid_content .left_mid_top_content {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid black;
  }
}

.mid_content .left_mid_top_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .mid_content .left_mid_top_content a {
    font-size: 4rem;
  }
}

.mid_content .vertical_line {
  width: 1px;
  border-right: 1px solid #00965e;
}

.mid_content .right_mid_top_content {
  width: 45%;
  text-align: left;
}

@media (max-width: 992px) {
  .mid_content .right_mid_top_content {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid black;
  }
}

.mid_content .line {
  display: block;
  width: 100px;
  padding-bottom: 10px;
  border-bottom: 2px solid #00965e;
}

.mid_content p {
  text-align: left;
}

.mid_content .mid_bottom_content {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

@media (max-width: 992px) {
  .mid_content .mid_bottom_content {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
}

.mid_content .left_mid_bottom_content {
  width: 45%;
  text-align: left;
}

@media (max-width: 992px) {
  .mid_content .left_mid_bottom_content {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid black;
  }
}

.mid_content .right_mid_bottom_content {
  width: 45%;
  text-align: left;
}

@media (max-width: 992px) {
  .mid_content .right_mid_bottom_content {
    width: 100%;
  }
}

.loan_content {
  width: 95%;
  margin: 0 auto;
}

.loan_content .loan_banner {
  background: #00965e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  text-align: center;
}

@media (max-width: 992px) {
  .loan_content .loan_banner h3 {
    width: 70%;
  }
}

.loan_content h3 {
  font-weight: 100;
}

.loan_content .loan_text {
  background: whitesmoke;
  padding: 5rem;
  width: 100%;
}

@media (max-width: 992px) {
  .loan_content {
    width: 85%;
  }
}

.our_team {
  padding: 50px 0 200px 0;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .our_team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
}

.our_team p {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .our_team p {
    font-size: 3rem;
  }
}

.our_team .member_text {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .our_team .member_text {
    width: 70%;
    margin-bottom: 35px;
  }
}

.our_team .member_text img {
  width: 12rem;
  position: absolute;
  top: -30px;
  left: -25px;
  z-index: -1;
  opacity: 0.9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our_team .member_para {
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 992px) {
  .our_team .member_para {
    margin: 0 auto;
    height: 100%;
    width: 65%;
  }
}

.our_team .team_member {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_team .team_member .first {
  width: 80%;
}

.our_team .team_member .second {
  width: 70%;
}

.our_team .team_member .third {
  width: 70%;
}

.our_team .member_name {
  color: #00965e;
}

.member_para.second {
  margin: 0 auto;
  padding-bottom: 16px;
}

.footer_line {
  width: 100%;
  border-bottom: 1px solid black;
}

footer {
  padding: 30px 0 30px 0;
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  footer {
    width: 85%;
  }
}

footer p {
  font-size: 1.2rem;
}

footer a {
  color: black;
}

footer .priv {
  text-decoration: none;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  padding-top: 12px;
  padding-bottom: 30px;
  font-size: 3em;
  cursor: pointer;
}

@media (max-width: 992px) {
  footer .icons {
    width: 30%;
  }
}

footer .icons img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */