$color: rgb(0, 148, 5);

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

p {
  line-height: 2em;
  color: #666666;
}

.logo_container {
  margin: 0 auto;
  width: 95%;
  height: 150px;
  display: flex;
  align-items: center;
  img {
  }
}

.top_image {
  width: 100%;
  object-fit: contain;
}

.top_content {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .invest_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: $color;
    font-weight: 200;
  }
  .line {
    display: block;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color;
  }

  p {
    text-align: left;
    padding-top: 20px;
  }
}

.view_button {
  display: flex;
  justify-content: center;
  button {
    background: darkorange;
    color: white;
    height: 30px;
    width: 180px;
    padding: 5px;
    border: none;
    font-size: 1.1em;
    margin: 50px 0 50px 0;
  }
}

.mid_content {
  padding-bottom: 50px;

  h3 {
    color: $color;
    padding-bottom: 8px;
  }

  a {
    color: $color;
  }

  .mid_top_content {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
  }

  .advantage_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: $color;
    font-weight: 200;
  }

  .left_mid_top_content {
    width: 40%;
    text-align: left;
  }

  .vertical_line {
    width: 1px;
    border-right: 1px solid $color;
  }

  .right_mid_top_content {
    width: 40%;
    text-align: left;
  }

  .line {
    display: block;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color;
  }

  p {
    text-align: left;
  }

  .mid_bottom_content {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

  }

  .left_mid_bottom_content {
    width: 40%;
    text-align: left;
  }

  .right_mid_bottom_content {
    width: 40%;
    text-align: left;
  }
}

.loan_content {
  width: 95%;
  margin: 0 auto;

  .loan_banner {
    background: $color;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5em;
  }

  h3 {
    font-weight: 100;
  }

  .loan_text {
    background: whitesmoke;
    padding: 2em;

  }
}

.our_team{
  padding: 50px 0 200px 0;

  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;

  p {
    margin-bottom: 15px;

  }

  .member_text {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .member_para {
    margin-bottom: 15px;
    

  }

  .team_member {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


   
  

  }
  
  .member_name {
    color: $color;
  }

}

.member_para.second {
  width: 70%;
  margin: 0 auto;
}

.footer_line {
  width: 100%;
  border-bottom: 1px solid black;
}

footer {
  font-size: .9em;
  width: 95%;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  a {
    color: black;
  }
  .priv {
    text-decoration: none;
  }
}